.calculator {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  input {
    width: 200px;
    height: 30px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    gap: 10px;
    justify-content: center;
  }
  
  button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
  }
  